<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width">
    <title>Purepale</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js" integrity="sha384-t1tHLsbM7bYMJCXlhr0//00jSs7ZhsAhxgm191xFsyzvieTMCbUWKMhFg9I6ci8q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.27.1/dist/axios.min.js" integrity="sha256-maFJaLqGCR09LmHMGRFqC++MMfQGU+K+CUC3U2NBB/M=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
</head>


<body itemscope itemtype="http://schema.org/WebApplication">
    <div class="container" id="app">
        <div class="header">
            <h1 id="title" itemprop="name"><a href="." style="text-decoration: none;">Purepale</a></h1>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-10">
                    <div class="input-group">
                        <span class="input-group-text">Prompt</span>
                        <textarea class="form-control" id="input_prompt" rows="3" v-model="parameters.prompt" @keydown.enter="trigger"></textarea>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-check">
                        <input class="form-check-input" id="control_repeat" type="checkbox" v-model="contorol_repeat">
                        <label class="form-check-label" for="control_repeat">Repeat</label>
                        <button id="button_run" type="button" class="btn btn-primary" v-on:click="action()" style="width:5em;">
                            <span class="bi bi-play"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-sm-6 col-lg-2">
                    <div class="input-group">
                        <input class="form-control" id="input_width" v-model="parameters.width" type="number" step="64" @keydown.enter="trigger" placeholder="W" @change="trim_wh_size">
                        x
                        <input class="form-control" id="input_height" v-model="parameters.height" type="number" step="64" @keydown.enter="trigger" placeholder="H" @change="trim_wh_size">
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="input-group">
                        <span class="input-group-text">Steps</span>
                        <input class="form-control" id="input_num_inference_steps" v-model="parameters.num_inference_steps" type="number" @keydown.enter="trigger" min="1" max="100">
                        <button id="button_reset_steps" type="button" class="btn btn-secondary" @click="parameters.num_inference_steps=20">
                            <span class="bi bi-x-square"></span>
                        </button>

                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="input-group">
                        <span class="input-group-text">G-Scale</span>
                        <input class="form-control" id="input_guidance_scale" v-model="parameters.guidance_scale" type="number" step="0.1" @keydown.enter="trigger">
                        <button id="button_reset_g" type="button" class="btn btn-secondary" @click="parameters.guidance_scale=7.5">
                            <span class="bi bi-x-square"></span>
                        </button>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="input-group">
                        <span class="input-group-text">Eta</span>
                        <input class="form-control" id="input_eta" v-model="parameters.eta" type="number" step="0.1" @keydown.enter="trigger">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="input-group">
                        <span class="input-group-text">Seed</span>
                        <input class="form-control" id="input_seed" type="number" step="1" @keydown.enter="trigger" v-model="parameters.seed">
                        <button id="button_reset_seed" type="button" class="btn btn-secondary" @click="parameters.seed = ''">
                            <span class="bi bi-x-square"></span>
                        </button>

                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-6">
                    <select class="form-select me-2" v-model="model_id">
                        <option v-for="opt in supported_models" v-bind:value="opt">
                            {{ opt }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-secondary">
                                <span class="bi bi-image"></span>
                                <input type="file" style="display:none" class="uploadFile" id="file_input_initial_image">
                            </span>
                        </label>
                        <button v-if="path_initial_image" class="ms-1 btn btn-secondary" @click="action_img2prompt" v-if="ii_prompt===null">
                            <span class="bi bi-card-text"></span>
                        </button>
                        <button v-if="path_initial_image" id="button_ii_clear" type="button" class="ms-1 btn btn-secondary" v-on:click="clear_path_initial_image()">
                            <span class="bi bi-trash"></span>
                        </button>
                    </div>
                    <div v-if="path_initial_image">
                        <div>
                            <img :src="path_initial_image" id="img_init_image_preview" alt="Initial image" class="img-fluid w-100">
                        </div>

                        <div id="img2prompt-result">{{ii_prompt}}</div>
                    </div>
                </div>


                <div class="col-lg-2" v-if="path_initial_image">
                    <div class="input-group">
                        <span class="input-group-text">Strength</span>
                        <input class="form-control" id="input_strength" type="number" v-model="parameters.strength" step="0.1" min="0" max="1" @keydown.enter="trigger">
                    </div>
                </div>
                <div class="col-lg-2" v-if="path_initial_image">
                    <div class="form-check">
                        <input class="form-check-input" id="control_use_image_mask" type="checkbox" v-model="use_image_mask">
                        <label class="form-check-label" for="control_use_image_mask">Mask</label>
                    </div>
                    <div v-if='use_image_mask' class="input-group">
                        <span class="input-group-text">Px</span>
                        <input class="form-control" id="canvas_ii_mask_line_width" type="number" value="5" step="1" min="1" max="100">
                    </div>
                </div>
                <div class="col-lg-4" v-if="path_initial_image">
                    <div v-if="use_image_mask" class="canvas-wrap" id="use_image_mask_wrap">
                        <canvas class="canvas" id="canvas_ii_mask_base"></canvas>
                        <canvas class="canvas" id="canvas_ii_mask_draw"></canvas>
                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row m-1" v-for="row_idx in Math.ceil(results.length / 4)" :key="row_idx">

                <div class="col-3" v-for="(result, col_idx) in results.slice((row_idx - 1) * 4, row_idx * 4)">
                    <div>
                        <a v-if="result.path!==undefined" :href="result.path" target="_blank">
                            <img :src="result.path" class="img-fluid w-100">
                        </a>
                        <img v-else-if="result.error!==undefined" src="/error.svg" class="img-fluid w-100">
                        <img v-else src="loading.svg" class="img-fluid w-100">
                    </div>
                    <div>
                        <span v-if="result.parsed_prompt && result.parsed_prompt.used_prompt">
                            {{result.parsed_prompt.used_prompt}}
                            <span v-if="result.parsed_prompt.negative_prompt" class="bg-warning">
                                --no { {{result.parsed_prompt.negative_prompt}} }
                            </span>
                            <span v-if="result.parsed_prompt.tileable" class="bg-warning">
                                --tile
                            </span>
                        </span>
                        <span v-else-if="result.parameters && result.parameters.prompt">
                            {{result.parameters.prompt}}
                        </span>


                        <div v-if="result.error" class="alert alert-danger" role="alert">
                            {{result.error}}
                        </div>
                        <div v-if="finished">
                            <button class="btn btn-secondary" @click="trigger_retry" :data-index="(row_idx -1)* 4 + col_idx" data-replace="use_as_ii">
                                <span class="bi bi-recycle" :data-index="(row_idx -1)* 4 + col_idx" data-replace="use_as_ii"></span>
                            </button>
                            <button class="btn btn-secondary" @click="trigger_retry" :data-index="(row_idx -1)* 4 + col_idx" data-replace="no">
                                <span class="bi bi-arrow-counterclockwise" :data-index="(row_idx -1)* 4 + col_idx" data-replace="no"></span>
                            </button>
                            <button class="btn btn-secondary" @click="trigger_retry" :data-index="(row_idx -1)* 4 + col_idx" data-replace="plus_20_steps">
                                <span class="bi bi-arrow-up-right" :data-index="(row_idx -1)* 4 + col_idx" data-replace="plus_20_steps"></span>
                            </button>
                            <button class="btn btn-secondary" @click="paste_output_json" :data-index="(row_idx -1)* 4 + col_idx" data-replace="plus_20_steps">
                                <span class="bi bi-share" :data-index="(row_idx -1)* 4 + col_idx" data-replace="plus_20_steps"></span>
                            </button>
                        </div>
                        <details>
                            <summary>JSON</summary>
                            <pre v-if="result" class="border">{{result}}</pre>
                        </details>
                    </div>
                </div>
                <div class="col-3" v-for="j in (4 - results.length % 4)" v-if="row_idx * 4 > results.length">
                </div>

            </div>
        </div>


        <div class="footer">
        </div>
    </div>
</body>

</html>
