.canvas-wrap {
    /*    width: 600px;*/
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: content-box;
}

.canvas_warp:before {
    content: "";
    display: block;
    padding-top: 50%;
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    max-width: 100%;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
